<div class="container">
    <p>PRODUCTS LIST</p>
  
    <button routerLink="/create" type="button" class="btn btn-dark">Create</button>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">name</th>
          <th scope="col">category</th>
          <th scope="col">Price</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of listProduct">
          <td scope="row">{{producto.id}}</td>
          <td>{{producto.name}}</td>
          <td>{{producto.category}}</td>
          <td>{{producto.price}}</td>
          <td>
            <button (click)="update(producto.id)" type="button" class="btn btn-primary">Edit</button>
          </td>
          <td>
            <button (click)="delete(producto.id)" type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>