<div class="container">
    <p>ADD PRODUCT</p>

    <div class="col-sm-4">
        <form>
            <div class="mb-3">
                <label class="form-label">Name of Product</label>
                <input [(ngModel)]="producto.name" type="text" class="form-control" name="name">
            </div>

            <div class="mb-3">
                <label class="form-label">Category</label>
                <input [(ngModel)]="producto.category" type="text" class="form-control" name="category">
            </div>

            <div class="mb-3">
                <label class="form-label">Price</label>
                <input [(ngModel)]="producto.price" type="number" class="form-control" name="price">
            </div>

            <button (click)="add()" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>